.banner {
    text-align: center;
    margin: 4em;
}

.banner__sobrenos {
    color: var(--red);
    margin: 3em 0 0 0;
    font-size: 14px;
}

.banner__titulo {
    margin-top: 0;
    font-size: 48px;
}

.banner__texto {
    color: var(--cinza-claro);
    font-size: 20px;
    padding: 0 0 1em 1em;
    margin-top: 0;
}

.metricas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espaçamento entre a seção banner e a seção métricas */
}

.metricas__conteudo {
    flex: 1; /* Distribui o espaço igualmente entre os elementos */
    text-align: left; /* Alinha o conteúdo à esquerda dentro de cada div */
    padding: 10px; /* Espaçamento interno */
    margin-left: 2em; 
}