.vagas {
    text-align: center;
    margin-top: 4em;
}


.vagas__img {
    border-radius: 10px;
}


.vagas-abertas {
    width: 70%;
    margin-left: 20%;
}


.vagas-abertas__titulos {
    font-size: 20px;
}

.vagas-abertas__subtitulo {
    font-size: 18px;
    margin-left: 1em;
    font-weight: 500;
}

.vagas-abertas__texto {
    display: flex;
    color: var(--cinza-claro);
    margin-left: 1em;
    gap: 1em;
}

.depoimentos {
    text-align: center;
    margin: 10em 0 10em 0;
}

.depoimentos__subtitulo {
    font-size: 18px;
    font-weight: 500;
}

.depoimentos__texto {
    color: var(--cinza-claro);
}